* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(131, 193, 196);
}

.header {
  display: flex;
  justify-content: center;
  color: white;
  padding: 20px 0px 40px;
  font-family: monospace;
  text-decoration: underline;
  text-decoration-line: overline;
  font-size: large;
}

.bg-image {
  display: flex;
  justify-content: center;
}

.primary-button {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.primary-button Button {
  padding: 15px;
  border: none;
  border-radius: 20px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  color: white;
  font-size: large;
  font-family: cursive;
}

.container {
  display: flex;
  justify-content: center;
}

.container input {
  padding: 8px;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  width: 250px;
  margin-right: 20px;
  font-size: medium;
}

.container button {
  padding: 8px;
  background-color: transparent;
  border-radius: 10px;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  margin: 0px 10px;
  color: white;
  font-size: medium;
}

.task-container {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: groove;
  border-radius: 20px;
  width: max-content;
  padding-left: 100px;
  padding-right: 100px;
}

.del button {
  /* border-style: none; */
  border-color: white;
  border-width: 1px;
  padding: 5px;
  border-radius: 40%;
  background-color: transparent;
  color: black;
  margin-left: 20px;
  font-size: large;
}

.tasks form {
  display: flex;
  align-items: center;
  /* padding-left: 20px; */
}

.checkBox {
  margin-right: 15px;
}

.tasks {
  display: flex;
}

.tasklist {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  font-style: italic;
  font-weight: bold;
}
